# Terraform state files
*.tfstate
*.tfstate.*

# Terraform backup files
*.backup

# Terraform crash log files
crash.log
crash.*.log

# Ignore Local .terraform directories
**/.terraform/*

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# macOS files
**/.DS_Store